* {
  box-sizing: border-box;
}
body {
  padding: 0;
  margin: 0;
  margin: 0 243px;
  margin-right: 275.66px;
  @media only screen and (max-width: 605px) {
    & {
      margin: 10px;
    }
  }
}
a {
  text-decoration: none;
}
.headers-main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 110px;
  margin-bottom: 96px;
  h6 {
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    /* identical to box height */

    text-transform: uppercase;
  }
  @media only screen and (max-width: 1255px) {
    & {
      margin-bottom: 38px;
      flex-direction: column;
      margin-left: 12px;
      margin-top: 71px;
      align-items: flex-start;
    }
  }
  @media only screen and (max-width: 605px) {
    & {
      margin-bottom: 38px;
      flex-direction: column;
      margin-left: 10px;
      margin-top: 10px;
      align-items: flex-start;
      width: 100vw;
    }
  }
  h2 {
    font-family: "PT Serif";
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 48px;
    letter-spacing: -0.045em;

    color: #000000;

    min-width: 279px;
  }
}
.headers-main-content {
  max-width: 439px;
  width: 100%;
  margin-top: 10px;
  h6 {
    margin: 0px;
    padding: 0px;

    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    /* identical to box height */

    text-transform: uppercase;

    color: #000000;
  }
  p {
    margin: 0px;
    padding: 0px;
    margin-top: 10px;

    font-family: "Poppins";
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;

    color: #000000;

    margin: 0;
  }
}
.employee-pictures :nth-child(4n) {
  .employee-picture-and-title {
    @media only screen and (max-width: 1182px) {
      p {
        top: 19px;
        right: -55px;
      }
    }
  }
}

.employee-pictures :nth-child(1) {
  .employee-picture-and-title {
    @media only screen and (max-width: 1182px) {
      p {
        top: 19px;
        right: -56px;
      }
    }
  }
}

.employee-pictures :nth-child(2) {
  .employee-picture-and-title {
    @media only screen and (max-width: 1182px) {
      p {
        top: 19px;
        right: -48px;
      }
    }
  }
}
.employee-pictures {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;

  @media only screen and (max-width: 1182px) {
    & {
      flex-direction: column;
      align-items: center;
      width: fit-content;
      margin: 0 auto;
    }
  }
}
.employee-outline {
  width: 330.81px;
  height: 399.96px;
  position: relative;
  margin-bottom: 66px;
  h4 {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    /* identical to box height */

    color: #000000;

    margin-top: 15px;
    @media only screen and (max-width: 1182px) {
      & {
        margin: 0;
      }
    }
  }
  @media only screen and (max-width: 1182px) {
    & {
      flex-direction: column;
      align-items: center;
      height: fit-content;
      margin: 0 auto;
      width: fit-content;
    }
  }
  .employee-picture-and-title {
    display: flex;
    flex-direction: row;

    @media only screen and (max-width: 1182px) {
      & {
        margin-bottom: 0px;
      }
    }

    p {
      transform: rotateZ(90deg);
      height: fit-content;
      position: absolute;
      top: 0;
      display: inline-block;
      width: fit-content;
      position: absolute;
      right: 36px;
      top: 16px;

      font-weight: bold;

      @media only screen and (max-width: 1182px) {
        & {
          top: 19px;
          right: -50px;
        }
      }
    }
  }

  img {
    width: 238px;
    margin: 0;
    padding: 0;
  }
}
.two,
.five {
  margin-top: 80px;
}
@media only screen and (max-width: 1511px) {
  .one,
  .two,
  .three,
  .four,
  .five,
  .six,
  .seven,
  .eight {
    margin: 0px;
  }
}
.employee-outline:nth-child(2n) {
  @media only screen and (max-width: 1511px) {
    margin-top: 60px;
  }
}
@media only screen and (max-width: 1182px) {
  .one,
  .two,
  .three,
  .four,
  .five,
  .six,
  .seven,
  .eight {
    margin-bottom: 80px;
  }
}
@media only screen and (max-width: 1255px) {
  .four {
    margin-top: 80px;
  }
}

footer {
  text-align: center;
  width: 100%;
  p {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */

    text-align: center;

    color: #a9a9a9;
  }
  a {
    color: #a9a9a9;
    font-weight: bold;
  }
}
